<h1>Course Listing</h1>
<ul>
  <li>
    Code: CS100
  </li>
  <li>
    Name: Intro to CS
  </li>
  <li>
    Desc: Thorough Intro to CS
  </li>
</ul>

<ul>
  <li>
    Code: CS102
  </li>
  <li>
    Name: Intro I to CS
  </li>
  <li>
    Desc: Thorough Intro to CS 102
  </li>
</ul>

<ul>
  <li>
    Code: CS103
  </li>
  <li>
    Name: Intro II to CS
  </li>
  <li>
    Desc: Thorough Intro to CS 103
  </li>
</ul>
